.flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-bet {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.text-align-center {
  text-align: center;
}